pandas
numpy
pyarrow

rapidfuzz
soccerdata
requests
python-dotenv

scikit-learn
lightgbm
xgboost
optuna
shap

sentence-transformers
umap-learn

plotly
dash
dash-bootstrap-components

matplotlib
seaborn

joblib

pytest

black
ruff